body {
    background-image: url('https://i.pinimg.com/originals/b5/45/9f/b5459f3beaf57711bb8ad812d086e3b7.jpg');
}

.container {
    background-color: white;
    margin-top: 40px;
    padding: 25px;
    

}

h1 {
    color: coral;
}